/* Largura e Altura */

.width-height {
  width: 300px;
  height: 150px;
  background-color: #777;
}

/* Largura (default) e Altura */

.width-height2 {
  height: 250px;
  background-color: #5b0808;
}

/* Padding */

.no-padding,
.padding {
  width: 400px;
  height: 250px;
  color: #fff;
  background-color: blue;
  margin-bottom: 5px;
}

.padding {
  padding: 20px;
}

/* Padding individual */
.padding-individual {
  background-color: brown;
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
  background-color: #555;
  padding: 10px 20px;
  /* padding: 10px 20px 10px 20px; */
}

/* Padding com width */
.without-border-box {
  background-color: #237619;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.border-box {
  background-color: #666;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

