/* Texto centralizado */
#container-center {
  text-align: center;
  border: 1px solid red;
}

.text-right {
  text-align: right;
}

/* Text decoration */
.underline {
  text-decoration: underline;
}

.strike-througt {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: #2b5f3a;
}

/* Text transform */
.uper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* Letter spacing */
.spacing {
  letter-spacing: 6px;
  color: #000;
  font-weight: bold;
}

/* Fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-style: "Courier New";
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* Text style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* Font weight */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* Font size */
.small {
  font-size: 6px;
}

.big {
  font-size: 78px;
}

/* Display */
.inline-box {
  width: 50px;
  height: 50px;
  background-color: #4f8;
  margin: 10px;
  display: inline-block;
}

.block {
  background-color: #333;
  display: block;
  margin: 10px;
}

.invisible {
  display: none;
}

/* Static */
.static {
  position: static;
  color: #fff;
  background-color: #2b5f3a;
  width: 100px;
  height: 100px;
}

/* Relative */
.static {
  position: relative;
  color: #fff;
  background-color: #2b5f9a;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 40px;
}

/* Absolute */
.absolute {
  position: absolute;
  color: #fff;
  background-color: #4a1f9c;
  width: 100px;
  height: 100px;
  top: 2px;
  right: 2px;
}

/* Absolute e Relative */
.relative-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin-top: 120px;
  position: relative;
}

.absolute-1,
.absolute-2 {
  width: 50px;
  height: 50px;
  background-color: #422;
  position: absolute;
}

.absolute-1 {
  top: 10px;
  left: 10px;
}

.absolute-2 {
  bottom: 10px;
  right: 10px;
}

/* Fixed */
.fixed {
  position: fixed;
  background-color: #851;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  margin-top: 120px;
  top: 50px;
  right: 100px;
}

/* Sticky */
.sticky {
  position: sticky;
  background-color: #994;
  border: 1px solid green;
  width: 100px;
  height: 100px;
  margin-top: 120px;
  top: 50px;
  right: 100px;
}

/* z-index */
.absolute-3,
.absolute-4,
.absolute-5 {
  width: 50px;
  height: 50px;
  background-color: #123;
  position: absolute;
}

.absolute-3 {
  top: 0;
  left: 0;
  z-index: 3;
}

.absolute-4 {
  top: 10px;
  left: 10px;
  background-color: #4f8;
  z-index: 2;
}

.absolute-5 {
  top: 40px;
  left: 40px;
  background-color: #994;
  z-index: 1;
}